[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric = {index = "http://pypi.douban.com/simple/", version = "*"}

[packages]
django = "*"
markdown = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
